html, body {
  font-size: 14px;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #0f0f0f;
}

.app-main {
  flex: 1;
  display: flex;
  overflow: hidden;
}